numpy
scipy>=1.6
pandas
scikit-learn
pyyaml
py-bobyqa
packaging
tqdm
tensorflow<2.14
portalocker
dill
fuzzywuzzy
astropy
getdist
cobaya
pyccl >= 3.0; platform_system!='Windows'
sacc
fgspectra>=1.1.0
syslibrary
pyhalomodel