numpy
scipy
pandas
scikit-learn
pyyaml
py-bobyqa
packaging
tqdm
portalocker
dill
fuzzywuzzy
astropy
getdist
cobaya @ git+https://github.com/CobayaSampler/cobaya.git@action_types
pyccl
sacc
fgspectra>=1.1.0
syslibrary
sphinx>=4.0
sphinx_rtd_theme
