name: Code Style
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Conda w/ Python 3.11
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: false
          python-version: '3.11'
          channels: conda-forge
      - name: Install Dependencies
        shell: bash -el {0}
        run: |
          pip install tox-conda flake8 "setuptools<71.1" wheel
      - name: Check Code Style
        shell: bash -el {0}
        run: |
          tox -e codestyle
